@import '../../state/style/variables.scss';

.avatar-box {
    background: $color-black-2;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    svg {
        path {
            fill: $color-blue;
        }
    }
}
